<style>
  a:hover {
    border-bottom: none !important;
  }
</style>

<div>
  <a href="https://webri.ng/webring/combocrew/previous?via={{ site.url }}{{ site.baseurl }}%2F">
    <img
      src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path d='M5.5 0 L2 4 L5.5 8' stroke='%23868686' fill='none' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"
      width="20"
      alt="Combo Crew Webring Previous"
    />
  </a>
  <a href="https://webri.ng/webring/combocrew/random?via={{ site.url }}{{ site.baseurl }}%2F">
    <img
      src="https://tilde.club/~twinbfield/assets/combo_crew_88x31_purple.png"
      width="88"
      height="31"
      alt="Combo Crew Webring Random"
    />
  </a>
  <a href="https://webri.ng/webring/combocrew/next?via={{ site.url }}{{ site.baseurl }}%2F">
    <img
      src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path d='M2.5 0 L6 4 L2.5 8' stroke='%23868686' fill='none' stroke-width='0.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"
      width="20"
      alt="Combo Crew Webring Next"
    />
  </a>
</div>
